// check "Abstract Sign Up Form" from https://www.sliderrevolution.com/resources/css-forms/

form{
  padding: 20px;
  @media (max-width: 700px) {
    padding-left: 10px;
  }
}
input, textarea{
  //display: block;
  width: 100%;
  max-width: 400px;
  //font-size: $font-size;
  //line-height: $font-size * 2;
  //font-family: $font-face;
  //margin-bottom: $font-size * 2;
  border: none;
  background-color: var(--main-color-2);
  border-bottom: 4px solid var(--black);
  outline: none;
  //color: rgba(0,0,0,1);
  margin: 10px 0;
  padding: 10px 5px 0 5px;
}

input:focus, textarea:focus{
  max-width: 800px;
  background-color: var(--main-color-2);
  border-bottom: 4px solid var(--main-color-1);
}




#div-radios{
  margin: 10px 0;
  align-items: center;
  display: flex;
}
.label-radio {
  min-height: 2rem;
  text-align: center;
  padding: 5px;
  margin: 0 8px;
  cursor: pointer;
  border: 1px solid var(--black);
  justify-content: space-between;
  @media (max-width: 700px) {
    font-size: 0.8rem;
    padding: 2px;
    margin: 0 7px;
  }
}
.input-radio{
  display: none;
}



button:disabled{
  cursor: not-allowed;
}
button{
  margin: 10px 10px 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
}
