#header, .item {
  height: 8vh;
  align-items: center;
}

div {
  background-color: var(--main-color-1);
  display: flex;
}

h1 {
  height: 8vh;
  cursor: pointer;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 5px;
  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

.language-item {
  height: 4vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.language-item:hover {
  font-weight: bold;
  text-decoration: underline;
}
